* {
    /*    border: 1px solid black;*/
}


.text {
    height: 9em;
    text-align: left;

    /*
    white-space: nowrap;

    text-overflow: ellipsis;

    -o-text-overflow: ellipsis;

    overflow: hidden;
*/
}
